@media only screen and (max-width: 768px){
    body {
        text-align: center;
        background-image: url("../images/mobile-view.jpg");
        background-size: cover;
        height: 100%;
    }

    body.dark {
        background-image: url("../images/mobile2-view.jpg")
    }

    .card {
        text-align: left;
        background-color: lavender;
        margin: 0 auto;
    }

    h1 {
        font-size: 48px;
        text-shadow: 2px 2px black;
    }

    .info {
        color: lavender;
    }

    footer {
        position: fixed;
        width: 100%;
        text-align: left;
        bottom: 0;
    }

    .btn {
        margin: 0px 25px 0px 25px;
    }
}

@media only screen and (min-width: 769px){
    body {
        text-align:center;
        background-image: url("../images/tablet-view.jpg");
        background-size: cover;
    }
    
    body.dark {
        background-image: url("../images/tablet2-view.jpg")
    }

    .card {
        text-align: left;
        background-color: lavender;
        justify-self: center;
        margin: 0 auto;
    }

    h1 {
        font-size: 60px;
        text-shadow: 2px 2px black;
    }

    .info {
        color: lavender;
    }

    footer {
        position: fixed;
        width: 100%;
        text-align: left;
        bottom: 0;
    }

    .btn {
        margin: 0px 25px 0px 25px;
    }
}

@media only screen and (min-width: 1024px){
    body {
        background-image: url("../images/desktop-view.jpg");
        background-size: cover;
        text-align: center;
    }

    body.dark {
        background-image: url("../images/desktop2-view.jpg");
    }

    .info {
        color: lavender;
    }

    h1 {
        font-size: 72px;
        border: none;
        color: var(--header-font-color);
    }

    .card {
        text-align: left;
        background-color: lavender;
        justify-self: center;
        margin: 0 auto;
        height: 15rem;
    }

    .card-img {
        height: 100%;
        width: 100%;
    }

    footer {
        position: fixed;
        text-align:left;
        bottom: 0;
    }

    .btn {
        margin: 0px 25px 0px 25px;
    }
}