body {
    text-align: center;
    background-image: url("../images/dog-and-cat.jpg");
    background-size: cover;
    width: 100%;
}

.info {
    color: seashell;
}

.card {
    text-align: left;
    background-color: lavender;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%
}