@media only screen and (max-width: 768px){
    body {
        text-align: center;
        background-image: url("../images/mobile-view.jpg");
        background-size: cover;
        height: 100%;
    }

    .card {
        text-align: left;
        background-color: lavender;
        margin: 0 auto;
    }

    h1 {
        font-size: 48px;
        text-shadow: 2px 2px black;
    }

    .info {
        color: lavender;
    }

    footer {
        position: fixed;
        bottom: 5px;
        width: 100%
    }
}

@media only screen and (min-width: 769px){
    body {
        text-align:center;
        background-image: url("../images/tablet-view.jpg");
        background-size: cover;
    }

    .card {
        text-align: left;
        background-color: lavender;
        justify-self: center;
        margin: 0 auto;
    }

    h1 {
        font-size: 60px;
        text-shadow: 2px 2px black;
    }

    .info {
        color: lavender;
    }

    footer {
        position: fixed;
        bottom: 5px;
        width: 100%
    }
}

@media only screen and (min-width: 1024px){
    body {
        background-image: url("../images/desktop-view.jpg");
        background-size: cover;
        text-align: center;
    }

    h1 {
        font-size: 72px;
        border: none;
    }

    .info {
        color: lavender;
    }

    .card {
        text-align: left;
        background-color: lavender;
        justify-self: center;
        margin: 0 auto;
        max-width: 800px;
    }

    footer {
        position: fixed;
        bottom: 5px;
        width: 100%
    }
}